@import 'reset.scss';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  
  font-size: 4rem;
  font-weight: 700;
  
  h1 {
    font-family: "fatfrank", helvetica, arial, sans-serif;
  }
  
  p {
    font-family: "proxima-nova", helvetica, arial, sans-serif;
  }
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: saturate(40%) contrast(200%) brightness(0.3);
  }

  div {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
    transition: 280ms all ease-in-out;
    background-size: 100%;
    background-color: #000;
    background-position: center;
    background: linear-gradient(to bottom, rgba(#000, 1), rgba(#000, 0));
    mix-blend-mode: screen;
    z-index: 10;
    
    h1 {
      color: #000;
      display: inline;
      padding: 2rem 3rem;
      background-color: #fff;
      -webkit-font-smoothing: antialiased;
    }
    
    p {
      font-weight: 400;
      margin-top: 2rem;
      font-size: 1rem;
      color: #000;
      display: inline;
      padding: 1.5rem 2rem;
      background-color: #fff;
    }
  }
}