$white: #F5F5F5;
$black: #2F3138;
$black__10: lighten($black, 5%);
$black__20: lighten($black, 10%);
$black__30: lighten($black, 15%);
$black__40: lighten($black, 20%);

$color__red: #EF476F;
$color__yellow: #FFD166;
$color__green: #06D6A0;
$color__blue: #118AB2;
$color__blue--20: #073B4C;

$animation-time: 280ms;
$animation-easing: cubic-bezier(.62,.01,.89,.76);