$white: #F5F5F5;
$black: #2F3138;
$black__10: lighten($black, 5%);
$black__20: lighten($black, 10%);
$black__30: lighten($black, 15%);
$black__40: lighten($black, 20%);

$color__red: #EF476F;
$color__yellow: #FFD166;
$color__green: #06D6A0;
$color__blue: #118AB2;
$color__blue--20: #073B4C;

$colors: #EF476F #FFD166 #06D6A0 #118AB2;

$font__family--primary: 'proxima-nova', helvetica, arial, sans-serif;
$font__family--secondary: 'fatfrank', helvetica, arial, sans-serif;

$animation-time: 250ms;
$animation-easing: ease-in;

$base-font-size: 1.125rem;
$base-line-height: $base-font-size * 1.45;

$spacing-xs: $base-line-height * .25;
$spacing-sm: $base-line-height * .75;
$spacing: $base-line-height;
$spacing-md: $base-line-height * 1.5;
$spacing-lg: $base-line-height * 2;

$type-scale: (
  - 1: .707rem,
  0: 1.125rem,
  1: 1.414rem,
  2: 1.999rem,
  3: 2.827rem,
  4: 3.998rem
);

$line-height: (
  - 1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: $base-line-height * 2,
  3: $base-line-height * 2,
  4: $base-line-height * 2
);

$bs-1:
0 2px 2px 0 rgba(0, 0, 0, .14),
0 1px 5px 0 rgba(0, 0, 0, .12),
0 3px 1px -2px rgba(0, 0, 0, .2);

$bs-2:
0 4px 5px 0 rgba(0, 0, 0, .14),
0 1px 10px 0 rgba(0, 0, 0, .12),
0 2px 4px -1px rgba(0, 0, 0, .3);

$bs-3:
0 6px 10px 0 rgba(0, 0, 0, .14),
0 1px 18px 0 rgba(0, 0, 0, .12),
0 3px 5px -1px rgba(0, 0, 0, .3);

$bs-4:
0 8px 10px 1px rgba(0, 0, 0, .14),
0 3px 14px 2px rgba(0, 0, 0, .12),
0 5px 5px -3px rgba(0, 0, 0, .3);

$bs-5:
0 16px 24px 2px rgba(0, 0, 0, .14),
0 6px 30px 5px rgba(0, 0, 0, .12),
0 8px 10px -5px rgba(0, 0, 0, .3);

$bs-1--hover:
0 14px 28px rgba(0, 0, 0, .25),
0 10px 10px rgba(0, 0, 0, .22);


