.blog {
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $spacing;
  margin-top: $spacing-lg;

  &__title {
    @extend %title;
  }
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: $spacing-xs 0;
  overflow: hidden;
  width: 100%;

  @include bp('600px') {
    box-shadow: $bs-1;
  };

  iframe {
    @include bp('600px') {
      box-shadow: $bs-2;
    };
  }

  &:nth-of-type(1) {
    margin-top: $spacing;
  }

  &__handle {
    @include type-setting(0);
    background-color: $black;
    color: $color__yellow;
    padding: $spacing-sm $spacing;
    position: relative;
    text-decoration: none;
    transition: $animation-time all;
    z-index: 3;

    &:hover {
      box-shadow: inset 800px -3px 0 $color__yellow;
      width: 100%;
    }

    &::after,
    &::before {
      background-color: $color__yellow;
      content: '';
      display: block;
      height: 2px;
      position: absolute;
      top: 50%;
      transition: $animation-time all;
      width: $base-font-size;
    }

    &::before {
      right: $spacing;
      transform: rotate(-45deg);
    }

    &::after {
      right: $spacing;
      transform: rotate(45deg);
    }

    &--active {
      &::before {
        transform: rotate(180deg);
      }

      &::after {
        transform: rotate(360deg);
      }
    }
  }

  &__container {
    color: $black;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 $spacing;
    transform: translateY(-100%);
    transition: all $animation-time;
    visibility: hidden;
    z-index: 2;

    &--active {
      background-color: $black__20;
      max-height: 40rem;
      opacity: 1;
      padding: $spacing;
      transform: translateY(0);
      transition: all $animation-time;
      visibility: visible;
    }
  }
}
