.hero {
  background-position: 55% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  position: relative;

  @include bp('600px') {
    background-position: center center;
    padding: $spacing;
  }

  &__title {
    animation: $animation-time ease-out $animation-time forwards pop;
    transition: $animation-time all ease-out;
  }

  &__block {
    padding: $spacing-sm $spacing;

    &--title {
      background-color: $white;
      color: $black;

      @include bp('600px') {
        max-width: 220px;
      }
    }

    &--content {
      background-color: $white;
      color: $black;

      @include bp('600px') {
        background-color: $white;
        color: $black;
        max-width: 700px;
      }
    }
  }

  &__content {
    max-width: 300px;

    @include bp('600px') {
      max-width: 310px;
    }

    @include bp('700px') {
      @include type-setting(1);
      max-width: 700px;
    }
  }
}

@keyframes pop {
  100% {
    opacity: 1;
    visibility: visible;
  }
}
