.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  position: relative;

  @include bp('600px') {
    padding: 2rem;
  }

  &__block {
    animation: $animation-time ease-out forwards pop;
    padding: 1rem 1.5rem;
    transition: 280ms all linear;

    &--title {
      font-size: em(36);

      @include bp('600px') {
        font-size: em(64);
        max-width: 234px;

      }
    }

    &--content {
      background-color: $black;
      color: $color__yellow;

      @include bp('600px') {
        background-color: $color__yellow;
        color: $black;
        max-width: 700px;
      }
    }
  }

  &__content {
    line-height: 1.6;
    max-width: 300px;

    @include bp('600px') {
      max-width: 310px;
    }

    @include bp('700px') {
      font-size: em(20);
      max-width: 700px;
    }

    &--link {
      box-shadow: inset 0 -3px 0 $color__yellow;
      color: $color__yellow;
      text-decoration: none;
      transition: $animation-time all ease-out;

      &:hover {
        box-shadow: inset 200px -4px 0 $color__yellow;
        color: $black;
      }

      @include bp('600px') {
        box-shadow: inset 0 -3px 0 $black;
        color: $black;

        &:hover {
          box-shadow: inset 200px -4px 0 $black;
          color: $color__yellow;
        }
      }
    }
  }

  &__icons {
    align-items: center;
    animation: $animation-time $animation-time*5 ease-out forwards pop;
    background-color: $black;
    border-radius: 0 0 0 10px;
    display: flex;
    height: 3rem;
    justify-content: flex-end;
    padding: 0 1.5rem;
    position: absolute;
    right: 0;
    top: 82px;
    width: auto;

    @include bp('600px') {
      background-color: transparent;
      top: 2rem;
    }

    &--link {
      align-items: center;
      display: flex;
      height: em(40);
      justify-content: center;
      margin: 0 .25rem;
      width: em(40);

      @include bp('600px') {
        align-items: flex-start;
      }

      svg {
        fill: $black;
        height: 75%;
        max-height: 2rem;
        max-width: 2rem;
        transition: all $animation-time;
        width: 75%;

        path {
          transition: all $animation-time;

          &:nth-child(1) {
            fill: $black;
          }

          &:nth-child(2) {
            fill: $color__yellow;
          }
        }
      }

      &:hover {
        svg {
          transform: scale(1) rotate(1turn);

          path {
            &:nth-child(1) {
              fill: $color__yellow;
            }

            &:nth-child(2) {
              fill: $black;
            }
          }

          @include bp('600px') {
            // box-shadow: 0 0 0 3px $color__yellow;
          }
        }
      }
    }
  }
}

@for $i from 1 to 4 {
  .hero {
    .hero__block {
      &:nth-child(#{$i}) {
        animation-delay: ($i * $animation-time);
      }
    }
  }
}

@keyframes pop {
  100% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
    visibility: visible;
  }
}
