.hero {
  &__icons {
    align-items: center;
    animation: $animation-time $animation-time*3 ease-out forwards pop;
    background-color: darken($white, 15%);
    bottom: 91px;
    display: flex;
    height: $base-font-size*2;
    justify-content: flex-end;
    padding: $spacing;
    position: absolute;
    right: 0;
    width: 100%;

    @include bp('600px') {
      background-color: transparent;
      padding: 0 $spacing;
      top: $spacing;
    }

    &--link {
      align-items: center;
      box-shadow: none;
      display: flex;
      height: $base-font-size*2;
      justify-content: center;
      margin: 0 $spacing-xs;
      width: em(40);

      @include bp('600px') {
        align-items: flex-start;
      }

      svg {
        height: 100%;
        max-height: 2rem;
        max-width: 2rem;
        transition: all $animation-time;
        width: 100%;

        path {
          transition: all $animation-time;

          &:nth-child(1) {
            fill: $color__yellow;
            @include bp('600px') {
              fill: $black;
            }
          }

          &:nth-child(2) {
            fill: $black;
            @include bp('600px') {
              fill: $color__yellow;
            }
          }
        }
      }

      &:hover {
        box-shadow: none;
        svg {
          @include bp('600px') {
            transform: scale(1) rotate(1turn);
          }

          path {
            &:nth-child(1) {
              fill: $color__yellow;
            }

            &:nth-child(2) {
              fill: $black;
            }
          }
        }
      }
    }
  }
}
