.overlay {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;

  &__image {
    background-position: 55% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(0%) contrast(150%) brightness(.75);
    height: 100vh;
    position: relative;
    width: 100%;

    @include bp('500px') {
      background-position: center center;
    }
  }
}

