.portfolio {
  background-color: $black__20;
  color: $black;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: $color__yellow;
  margin: $spacing;
  min-height: 300px;
  width: 100%;
}
